* {
	box-sizing: border-box;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px;
} 


body {
	background-color: #d9ecd0;

}
/*Header content*/
.nav-header {
  background-color: #c0ded9;
 
}

.nav-brand {
 font-size: 1.8em;
}


#nav-list {
  color: white;
  width:100%;
}

hr {
  border-color: white;
}


.item {
  font-size: 1.2em;
  color:black;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}


section {
	border:	1px solid black;
	background-color: #f7cac9;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
    font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #FFFF00;
}

#beef {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	color:white;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #FF1439;
}

#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #6495ED;
	color:black;
	padding: 5px;
}

p {
	padding: 10px;
	margin: 0;
}

#chickendiv {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beefdiv {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushidiv {
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
	font-family: 'Baloo Bhaina 2', cursive;
	color: #000000;
}

h2{ 
	font-family: 'Baloo Bhaina 2', cursive;
	color: #000000;
	margin-top: 10px;
	margin-bottom:-15px;
 }




